<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<form th:action="@{/home}">
<div class="center-container">
    <div class="card">
        <h2>GameCritic Hub</h2>
        <h3>Welcome back</h3>

        <form>
            <div class="input-group">
                <input type="email" placeholder="Email">
            </div>

            <div class="input-group">
                <input type="password" placeholder="Password">
            </div>

            <button class="btn">Log In</button>
        </form>

        <p>
            Don’t have an account?
            <a th:href="@{/register}">Sign up</a>
        </p>
    </div>
</div>

</body>
</html>